/* ------------------------- */
/*     HEADER   */
/* ------------------------- */

header {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  background-color: #0e1921;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  height: 72px;
  overflow: clip;

  div {
    .linkContainer {
      display: flex;
    }

    img {
      width: auto;
    }

    h5 {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  img {
    height: 40px;
    margin: 8px 8px 8px 16px;
  }

  h5 {
    color: white;
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: HelveticaRounded, sans-serif !important;
    /*56px er høyden på header-baren*/
    line-height: 56px;
  }
}

nav {
  display: flex;
  align-content: center;
  padding: 7.5px;
  font-size: 1.1em;

  a {
    font-size: 1.3em;
    padding: 5px;

    text-decoration: none;
    color: white;
    font-family: HelveticaRounded, sans-serif !important;
    padding: 7.5px;

    @media screen and (max-width: 760px) {
      font-size: 1rem;
    }

    &:hover {
      color: white;
    }
  }
}

.dropdownContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  z-index: 69;

  > * + * {
    padding-top: 0.5rem;
  }

  .dropdownHidden {
    display: inline-block;
    background-color: #172a38;
    padding-right: 1rem;
    padding-left: 1rem;

    &:last-child {
      border-radius: 0 0 3px 3px;
      padding-bottom: 1rem;
    }
  }

  > .dropdownHidden {
      visibility: hidden;
      height: 0;
    }

  &:hover,
  &:focus-within {
    :first-child {
      background-color: #172a38;
      border-radius: 3px 3px 0 0;
    }
    .dropdownHidden {
      background-color: #172a38;
      height: auto;
      visibility: visible;
    }
  }
}
