.partnerItem img {
  width: 150px;
}

.iaesteInfo {
  img {
    width: 48px;
    height: 48px;
  }

  p {
    color: white;
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  align-content: center;
  padding: 2rem;
  width: 100%;
  background-color: #0e1921;

  .partnersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      flex-direction: row;

      > * + * {
        margin-left: 1rem;
      }
    }
  }

  p {
    color: white;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;

    > * + * {
      margin-top: 1rem;
    }
  }

  footer .partnersContainer {
    flex-direction: column;
    justify-content: center;
  }
}
